body
{
    background-image: linear-gradient(rgb(0, 0, 0) 40%, rgba(231, 229, 240, 0.829) 100%);
    font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
    margin: 0%;
}

#nav_header
{
    background-image: linear-gradient(260deg, rgb(0, 0, 0) 50%, rgba(231, 229, 240, 0.829) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
}

#nav_header img{
    margin-left: 10px;
}

#ul_nav
{
    margin: 0;
    text-align: right;
    list-style-type: none;

}

#ul_nav li
{
    display: inline;
    list-style: none;
}

#ul_nav a 
{
    display: inline-block;
    margin: 2px 30px auto auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#ul_nav a:hover
{
    text-decoration: underline;
}

header
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    height: 100vh;

}

.button_cont
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
    font-size: medium;
    font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10rem;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
}

.example_c 
{
    
    color: #000000 !important;
    text-decoration: none;
    background: rgba(231, 229, 240, 0.829);
    padding: 10px;
    border: 4px solid #000000 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    }

.example_c:hover 
{
    color: rgba(231, 229, 240, 0.829) !important;
    background: rgb(29, 29, 29);
    border-color: rgba(231, 229, 240, 0.829) !important;
    transition: all 0.4s ease 0s;
}
#titre_principal
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    text-align: center;
    position: relative;
}

#presentation
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:#40434E;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
}

#img_presentation
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 0px;
    margin: 50px;
}

#txt_presentation
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    text-align: justify;
    margin: 50px;
    position: relative;
    color: aliceblue;
}

#h_presentation
{
    border-bottom: solid;
    padding-bottom: 40px;
    text-align: justify;
}

#p_presentation
{
    margin: auto;
    padding: 0px;
    text-align: justify;
}

#two
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    flex-wrap: wrap-reverse;
    background-color: #702632;
}

#texte_resume
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    text-align: justify;
    margin: 50px;
}

#photo_resume
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 0px;
    margin: 50px;
}

#h2_resume
{
    border-bottom: solid;
    padding-bottom: 40px;
    text-align: justify;
}

.three
{
    background-color:#912F40;
    width: 100%;
    display: flex
}

.slider 
{
    width: 100vh;
    height: 400px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
    
}

.cont-slides 
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.cont-slides div
{
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cont-slides div ul{
    margin-left: 80px;
    margin-right: 80px;
}

.commandes 
{
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.commandes button 
{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-style: none;
    background-color: #c0c0c0;
}

.commandes img 
{
    width: 20px;
    position: relative;
}

.commandes button:nth-child(1)
{
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
}

.commandes button:nth-child(2)
{
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
}

.commandes button:nth-child(1) img 
{
    left: -2px;
}

.commandes button:nth-child(2) img 
{
    right: -2px;
}

.active
{
    opacity: 1!important;
}

.active ul{
    border-top: solid;
    padding-top: 30px;
}

a
{
    padding-right: 10px;
    padding-bottom: 10px;
    color: rgb(150, 150, 150);
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

footer
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fdfdfd;
}
.icons
{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    margin: 40px;
}

.copyright {
    list-style-type: none;
    color: rgb(0, 0, 0);
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.illus{
    display:inline-block;
    border:0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); 
    border-radius: 1em;
}

.illus:hover{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

#canvas1 {
    position: absolute;
    background-color:#40434E;
    width: 100%;
    height: 100%;
}

.imgmini{
    display: none;
}

.cv{
    display: none;
}

@media screen and (max-width: 450px) {
    .illus{
        display: none;
    }

    .imgmini{
        display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    }

    #txt_presentation{
        margin-top: 0px;
    }

    #txt_resume{
        margin-bottom: 0px;
    }

    .slider{
        display: none;
    }

    .cv{ 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 600px;
        text-align: center;
        margin: 50px;
    }
}